*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
}

.container {
    padding-left: 19%;
    padding-right: 19%;
    margin: 0 auto;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.presentation {
    padding-top: 190px;
    padding-bottom: 45%;
    color: white;
    text-align: center;

    &__wrap {
        padding-top: 50px;
        background: url('../images/presentation-bg.jpg') no-repeat center / cover;
    }

    h1, h2 {
        margin: 0 auto;
    }

    h1 {
        width: 45%;
        font-family: 'Jockey One', sans-serif;
        font-size: 72px;
        font-weight: 400;
        line-height: 72.22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    h2 {
        width: 55%;
        font-size: 24px;
        font-weight: 400;
        color: #d6d6d6;
        line-height: 35.14px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;

    a {
        color: white;
    }

    &__logo {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    &__menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 23px;

            li a {
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &-panel {
            &_min {
                display: none;
                align-items: center;
                column-gap: 30px;

                .header__menu {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -30px;

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }

            &--btn {
                width: 40px;
                height: 10px;
                position: relative;

                &::before, &::after {
                    content: '';
                    width: 40px;
                    height: 3px;
                    border-radius: 15px;
                    background-color: white;
                    position: absolute;
                }

                &::before {
                    top: -3px;
                    left: 0;
                }

                &::after {
                    left: 0;
                    bottom: -3px;
                }
            }
        }
    }

    &__link_active a {
        color: #febb06;
    }

    .link-register {
        margin-left: 32px;
    }
}

.link-register {
    padding: 12px 54px;
    background: linear-gradient(86.42deg, #ffc700 -1.87%, #f3254c 119.59%, #f32525 119.59%);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.free-games {
    position: relative;
    top: -295px;

    &__text {
        margin-bottom: 60px;

        .container {
            display: flex;
            justify-content: space-between;

            span {
                &:first-child {
                    flex-basis: 30%;
                    font-family: 'Jockey One', sans-serif;
                    font-size: 46px;
                    font-weight: 400;
                    color: white;
                    line-height: 46.14px;
                    text-transform: uppercase;
                }

                &:nth-child(2) {
                    flex-basis: 42%;
                    padding-top: 6px;
                    font-size: 18px;
                    line-height: 26.35px;
                    color: #d6d6d6;
                }
            }
        }
    }

    &__swiper {
        padding-left: 19.5%;
    }

    &__block {
        display: none;
    }

    &__item {
        display: block;
        width: 354px !important;
        background-color: #212121;
    }

    &__img {
        width: 354px;
        height: 286px;
    }

    &__info-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 31px 20px 20px;
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 3px;
        margin-bottom: 12px;

        &_fire, &_empty {
            width: 21px;
            height: 31px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &_fire {
            background-image: url('../images/icon-fire.svg');
        }

        &_empty {
            background-image: url('../images/icon-fire_empty.svg');
        }
    }

    &__name {
        font-family: 'Jockey One', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
    }
}

.show {
    display: block !important;
}

@media (min-width: 1980px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .free-games__swiper {
        padding-left: 10%;
    }
}

@media (max-width: 1919px) {
    .container {
        padding-left: 15%;
        padding-right: 15%;
    }

    .free-games__swiper {
        padding-left: 15%;
    }
}

@media (max-width: 1919px) {
    .container {
        padding-left: 9%;
        padding-right: 9%;
    }

    .free-games__swiper {
        padding-left: 9%;
    }
}

@media (max-width: 1440px) {
    .container {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    .free-games__swiper {
        padding-left: 3.5%;
    }
}

@media (max-width: 1280px) {
    .header {
        column-gap: 30px;

        &__menu ul li a {
            font-size: 12px;
        }

        .link-register {
            padding: 12px 30px;
            margin-left: 0;
        }
    }
}

@media (max-width: 992px) {
    .header {
        position: relative;

        &__menu {
            display: none;

            &-panel_min {
                display: flex;

                .link-register {
                    display: block;
                }
            }
        }
    }

    .presentation {
        padding-top: 120px;

        &__wrap {
            padding-top: 25px;
        }

        h1 {
            font-size: 54px;
        }

        h2 {
            font-size: 16px;
        }
    }

    .link-register {
        display: none;
    }

    .free-games__text .container span {
        &:first-child {
            font-size: 40px;
        }

        &:nth-child(2) {
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .header__menu-panel_min {
        .link-register {
            display: none;
        }

        .header__menu {
            bottom: -100px;

            ul {
                flex-direction: column;
            }
        }
    }

    .presentation {
        text-align: initial;

        h1, h2 {
            width: initial;
        }

        h1 {
            font-size: 46px;
            line-height: 46.14px;
        }

        h2 {
            font-size: 20px;
            line-height: 29px;
        }
    }

    .free-games {
        top: initial;
        padding-top: 36px;
        padding-bottom: 36px;

        &__text {
            margin-bottom: 72px;

            .container {
                flex-direction: column;

                span {
                    &:first-child {
                        font-size: 46px;
                        line-height: 46px;
                        margin-bottom: 24px;
                    }

                    &:nth-child(2) {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }

        &__swiper {
            display: none;
        }

        &__block {
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__item {
            margin: 32px auto 0;
        }
    }
}

@media (max-width: 375px) {
    .free-games__item {
        width: 100% !important;
    }
}