*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
}

.container {
    padding-left: 19.5%;
    padding-right: 19.5%;
    margin: 0 auto;

    @media (min-width: 1980px) {
        width: 1920px;
    }
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.presentation {
    padding-top: 190px;
    padding-bottom: 45%;
    color: white;
    text-align: center;

    &__wrap {
        padding-top: 50px;
        background: url('../images/presentation-bg.jpg') no-repeat center / cover;
    }

    h1, h2 {
        margin: 0 auto;
    }

    h1 {
        width: 45%;
        font-family: 'Jockey One', sans-serif;
        font-size: 72px;
        font-weight: 400;
        line-height: 72.22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    h2 {
        width: 55%;
        font-size: 24px;
        font-weight: 400;
        color: #d6d6d6;
        line-height: 35.14px;
    }
}

.header, .header__menu ul {
    display: flex;
    align-items: center;
}

.header {
    column-gap: 60px;

    a {
        color: white;
    }

    &__logo {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    &__menu ul {
        column-gap: 23px;

        li a {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    &__link_active a {
        color: #febb06;
    }

    .link-register {
        margin-left: 32px;
    }
}

.link-register {
    padding: 12px 54px;
    background: linear-gradient(86.42deg, #ffc700 -1.87%, #f3254c 119.59%, #f32525 119.59%);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.free-games {
    position: relative;
    top: -295px;

    &__text {
        margin-bottom: 60px;

        .container {
            display: flex;
            justify-content: space-between;

            span {
                &:first-child {
                    flex-basis: 30%;
                    font-family: 'Jockey One', sans-serif;
                    font-size: 46px;
                    font-weight: 400;
                    color: white;
                    line-height: 46.14px;
                    text-transform: uppercase;
                }

                &:nth-child(2) {
                    flex-basis: 42%;
                    padding-top: 6px;
                    font-size: 18px;
                    line-height: 26.35px;
                    color: #d6d6d6;
                }
            }
        }
    }

    &__swiper {
        padding-left: 19.5%;

        .swiper-slide {
            width: 354px !important;
            background-color: #212121;
        }
    }

    &__img {
        width: 354px;
        height: 286px;
    }

    &__info-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 31px 20px 20px;
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 3px;
        margin-bottom: 12px;

        &_fire, &_empty {
            width: 21px;
            height: 31px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &_fire {
            background-image: url('../images/icon-fire.svg');
        }

        &_empty {
            background-image: url('../images/icon-fire_empty.svg');
        }
    }

    &__name {
        font-family: 'Jockey One', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
    }
}