*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
}

.container {
  padding-left: 19%;
  padding-right: 19%;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.presentation {
  padding-top: 190px;
  padding-bottom: 45%;
  color: white;
  text-align: center;
}

.presentation__wrap {
  padding-top: 50px;
  background: url("../images/presentation-bg.jpg") no-repeat center/cover;
}

.presentation h1,
.presentation h2 {
  margin: 0 auto;
}

.presentation h1 {
  width: 45%;
  font-family: 'Jockey One', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 72.22px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.presentation h2 {
  width: 55%;
  font-size: 24px;
  font-weight: 400;
  color: #d6d6d6;
  line-height: 35.14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.header a {
  color: white;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 23px;
  -moz-column-gap: 23px;
  column-gap: 23px;
}

.header__menu ul li a {
  font-weight: 500;
  text-transform: uppercase;
}

.header__menu ul li a:hover {
  color: #bfbfbf;
}

.header__menu-panel_min {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.header__menu-panel_min .header__menu {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.header__menu-panel_min .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu-panel--btn {
  width: 40px;
  height: 10px;
  position: relative;
}

.header__menu-panel--btn::before,
.header__menu-panel--btn::after {
  content: '';
  width: 40px;
  height: 3px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
}

.header__menu-panel--btn::before {
  top: -3px;
  left: 0;
}

.header__menu-panel--btn::after {
  left: 0;
  bottom: -3px;
}

.header__link_active a {
  color: #febb06;
}

.header .link-register {
  margin-left: 32px;
}

.link-register {
  padding: 12px 54px;
  background: -o-linear-gradient(3.58deg, #ffc700 -1.87%, #f3254c 119.59%, #f32525 119.59%);
  background: linear-gradient(86.42deg, #ffc700 -1.87%, #f3254c 119.59%, #f32525 119.59%);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.link-register:hover {
  opacity: 0.85;
}

.free-games {
  position: relative;
  top: -295px;
}

.free-games__text {
  margin-bottom: 60px;
}

.free-games__text .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.free-games__text .container span:first-child {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  font-family: 'Jockey One', sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: white;
  line-height: 46.14px;
  text-transform: uppercase;
}

.free-games__text .container span:nth-child(2) {
  -ms-flex-preferred-size: 42%;
  flex-basis: 42%;
  padding-top: 6px;
  font-size: 18px;
  line-height: 26.35px;
  color: #d6d6d6;
}

.free-games__swiper {
  padding-left: 19.5%;
}

.free-games__block {
  display: none;
}

.free-games__item {
  display: block;
  width: 354px !important;
  background-color: #212121;
}

.free-games__item:hover {
  background: rgba(243, 37, 76, 0.3);
}

.free-games__img {
  width: 354px;
  height: 286px;
}

.free-games__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 21px 31px 20px 20px;
}

.free-games__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3px;
  -moz-column-gap: 3px;
  column-gap: 3px;
  margin-bottom: 12px;
}

.free-games__rating_fire,
.free-games__rating_empty {
  width: 21px;
  height: 31px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.free-games__rating_fire {
  background-image: url("../images/icon-fire.svg");
}

.free-games__rating_empty {
  background-image: url("../images/icon-fire_empty.svg");
}

.free-games__name {
  font-family: 'Jockey One', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.show {
  display: block !important;
}

@media (min-width: 1980px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .free-games__swiper {
    padding-left: 10%;
  }
}

@media (max-width: 1919px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .free-games__swiper {
    padding-left: 15%;
  }
}

@media (max-width: 1919px) {
  .container {
    padding-left: 9%;
    padding-right: 9%;
  }

  .free-games__swiper {
    padding-left: 9%;
  }
}

@media (max-width: 1440px) {
  .container {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }

  .free-games__swiper {
    padding-left: 3.5%;
  }
}

@media (max-width: 1280px) {
  .header {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .header__menu ul li a {
    font-size: 12px;
  }

  .header .link-register {
    padding: 12px 30px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header {
    position: relative;
  }

  .header__menu {
    display: none;
  }

  .header__menu-panel_min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu-panel_min .link-register {
    display: block;
  }

  .presentation {
    padding-top: 120px;
  }

  .presentation__wrap {
    padding-top: 25px;
  }

  .presentation h1 {
    font-size: 54px;
  }

  .presentation h2 {
    font-size: 16px;
  }

  .link-register {
    display: none;
  }

  .free-games__text .container span:first-child {
    font-size: 40px;
  }

  .free-games__text .container span:nth-child(2) {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .header__menu-panel_min .link-register {
    display: none;
  }

  .header__menu-panel_min .header__menu {
    bottom: -100px;
  }

  .header__menu-panel_min .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .presentation {
    text-align: initial;
  }

  .presentation h1,
  .presentation h2 {
    width: initial;
  }

  .presentation h1 {
    font-size: 46px;
    line-height: 46.14px;
  }

  .presentation h2 {
    font-size: 20px;
    line-height: 29px;
  }

  .free-games {
    top: initial;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .free-games__text {
    margin-bottom: 72px;
  }

  .free-games__text .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .free-games__text .container span:first-child {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 24px;
  }

  .free-games__text .container span:nth-child(2) {
    font-size: 18px;
    line-height: 26px;
  }

  .free-games__swiper {
    display: none;
  }

  .free-games__block {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .free-games__item {
    margin: 32px auto 0;
  }
}

@media (max-width: 375px) {
  .free-games__item {
    width: 100% !important;
  }
}