*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1980px) {
  .container {
    width: 1920px;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.presentation__wrap {
  background: url("../images/presentation-bg.jpg") no-repeat center/cover;
}